/***********
 * Imports *
 ***********/

@font-face {
	font-family: iosevka-local;
	src: url("../fonts/iosevka-mono.ttf");
}

@font-face {
	font-family: icon-font;
	src: url("../fonts/font-awesome-solid.woff2");
}

/******************
 * Global changes *
 ******************/

html {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.selectable {
	-webkit-touch-ctextout: text; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* Non-prefixed version, currently supported by Chrome and Opera */
}

::-moz-selection { /* Code for Firefox */
	color: #303030;
	background: #D0D0D0;
}

::selection {
	color: #303030;
	background: #D0D0D0;
}

body {
	font-family: iosevka-local, monospace;
	background-image: url("../images/dpm.png");
	background-repeat: repeat;
	background-color: #101010;
	color: #E0E0E0;
	min-width: 300px;
}

.icon-font {
	font-family: icon-font;
	font-size: 1.25rem;
}

/**************
 * Containers *
 **************/

.container {
	background-color: #303030;
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

p.last {
	margin-bottom: 0px;
}

/*********
 * Modal *
 *********/

#main-modal {
	overflow: hidden;
}

.modal-content {
	background-color: #1A1A1A !important;
}

.modal-header {
	border-color: #2A2A2A;
}

.modal-footer {
	border-color: #2A2A2A;
}

.modal-content div.btn.btn-mine {
	background-color: #2A2A2A;
	padding-top: 0rem;
	padding-right: 0.5rem;
	padding-bottom: 0rem;
	padding-left: 0.5rem;
	font-size: 1.15rem;
}

.modal-content div.btn.btn-mine:hover {
	background-color: #E0E0E0;
}

/************
 * Collapse *
 ************/

.card {
	color: #101010;
}
